.top-navbar {
    background-color: #2728b3 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding: 0
        /* height: 50px; */
        /* margin: 0; */
}

.top-navbar .left-section {
    display: flex;
    align-items: center;
}

.top-navbar .right-section {
    margin-right: 0;
    display: flex;
    align-items: center;
}

.top-navbar button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding-left: 10px;
    /* margin-left: 20px; */
}

.navbar-nav .nav-item {
    font-size: 13px;
    margin-left: 17px;
}

.navbar-nav .nav-item .nav-link.active {
    border: 1px solid white;
    border-radius: 13px;
    background-color: transparent;
    padding: 7px 15px;
    color: rgba(227, 220, 220, 0.709)
}

.navbar-nav .nav-item .nav-link {
    color: rgba(227, 220, 220, 0.709)
}

.navbar-brand {
    font-weight: 100 !important;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 767px) {
    .navbar-nav {
        flex-direction: column;
        justify-content: center;
    }

    .nav-item {
        width: 95%;
        /* margin-left: 2rem; */
        padding: 7px 13px;
        margin-right: 13px;
    }

    .navbar-nav .nav-item .nav-link.active {
        border: 1.7px solid white;
        border-radius: 12px;
        background-color: transparent;
        padding: 7px 13px;
        transition: all 0.1s ease;
        margin-left: 0;
    }
}